name: "Check free diskspace, try to improve the situation"

on:
  push:

permissions: # least privileges, see https://docs.github.com/en/actions/using-workflows/workflow-syntax-for-github-actions#permissions
  contents: read

jobs:
  bare-vm:
    strategy:
      matrix:
        runs-on: [ubuntu-slim, ubuntu-22.04, ubuntu-24.04]
    runs-on: ${{ matrix.runs-on }}

    steps:
    - run: df -h
    - run: lsblk
    - run: du -x / | sort -n | tail -n 5000

  docker:
    strategy:
      matrix:
        runs-on: [ubuntu-22.04, ubuntu-24.04] # no docker on ubuntu-slim
        privileged: ['', '--privileged']
    runs-on: ${{ matrix.runs-on }}
    container:
      image: alpine:3.22
      options: --name mycontainer ${{ matrix.privileged }} -v /:/hostroot

    steps:
    - run: df -h
    - run: apk add cmd:lsblk && lsblk
    - run: du -x / | sort -n | tail -n 5000
